.topbar {
	display: inline-flex;
	gap: var(--gap);
	color: var(--text-color);
	width: 100%;
	border-bottom: 1px solid var(--border-color);
	padding: var(--gap);

	.topbar-title {
		display: inline-flex;
		align-items: center;
		gap: var(--gap);
		font-size: var(--text-size-more);
	}

	.topbar-controls {
		display: inline-flex;
		gap: var(--gap);
	}

	.topbar-children {
		flex: 1;
		display: inline-flex;
		gap: var(--gap);
		overflow: hidden;
	}

}